[Unit]
Description=Waveshare Fan HAT Service
After=network.target
StartLimitIntervalSec=0

[Service]
Restart=always
RestartSec=1
User=pi
ExecStart=python /home/pi/cardboard-cafe/fan-hat/main.py
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target